body {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  background-color: whitesmoke;
  color: black;
  text-align: left;
}

h1{
  font-size: 1.75em;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:visited{
  /* color: yellow; */
}

a:hover{
  color: #AC87DA;
  /* border-bottom: 3px solid green; */
  transition: color .5s ease;
  /* cursor: crosshair; */
}

.filler{
  margin: auto 50px;
  width: 300px;
  height: 200px;
  float: left;
}
.text{
  margin: auto 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  /* float: none; */
}

.link{
  margin: auto 50px;
  width: auto;
  height: auto;
  float: left;
}

.header{
  width:85%;
  /* height: auto; */
  /* padding: 5% 20%; */
  /* margin: 25px auto; */
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  /* background-color: gray; */
}
#container{
  text-align: center;
  width: 100%;
  margin: auto;
  padding: auto auto;
}

.homepage{
  width: 100vw;
  /* background-color: none; */
  padding: 50vh 0;
  background-image: url(img/homepage.png);
  background-size: 100%;
  float: left;
  /* background-position: 0 -200px; */
  /* text-transform: lowercase; */
}
