body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: 1.45;
  background-color: whitesmoke;
  color: black;
  text-align: left;
}

#container{
  width: 105%;
  margin: 0 auto;
}

#img1{
  max-width: 110%;
  /* height: 450px; */
  margin-left: -2.5%;
  padding: 200px 0px;
  /* margin-left: -2.5%; */
  /* display: block; */
  position: relative;
}

#img1::after {
  content: "";
  background: url(img/journobanner.png) no-repeat center;
  background-size: 105%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#img2{
  width: 110%;
  margin-left: -2.5%;
  padding: 150px 0px;
  /* display: block; */
  position: relative;
}

#img2::after {
  content: "";
  background: url(img/twoviews.png) no-repeat center;
  background-size: 105%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#img3{
  width: 110%;
  margin-left: -10%;
  padding: 150px 0px;
  position: relative;
}

#img3::after {
  content: "";
  background: url(img/TooMuchWater.png) no-repeat;
  background-size: 105%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-position: -5% 0;
  z-index: -1;
}

#img4{
  width: 110%;
  margin-left: -2.5%;
  padding: 150px 0px;
  position: relative;
}

#img4::after {
  content: "";
  background: url(img/whatisaman.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#img5{
  width: 110%;
  margin-left: -2.5%;
  padding: 150px 0px;
  position: relative;
}

#img5::after {
  content: "";
  background: url(img/journalist.png) no-repeat center;
  /* background-position: 0 -180px; */
  background-size: 110%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#img6{
  width: 110%;
  /* margin-left: -2.5%; */
  padding: 150px 0px;
  position: relative;
}

#img6::after {
  content: "";
  background: url(img/ps5.png) no-repeat center;
  background-position: 0 51%;
  background-size: 105%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.heading{
  width: 65%;
  margin: 0 auto;
}

.textbox{
  width: 1080px;
  margin: 100px auto;
}

p {
  margin-bottom: 1.25em;
  font-size: 1.25em
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 2.75rem 0 1rem;
  font-family: 'Doppio One', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: black;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

.intro {
}

ul{
  text-align: left;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@media only screen and (max-width: 1440px){
  .textbox{width: 720px;}
  p {font-size: 1.15em;}
  #img1{padding: 15% 0;}
  #img2{padding: 15% 0;}
  #img3{padding: 10% 0;}
  #img4{padding: 15% 0;}
  #img5{padding: 15% 0;}
  #img6{padding: 10% 0;}
}

@media only screen and (max-width: 1024px){
  .textbox{width: 600px;}
  h1 {font-size: 3.157em;}
  h2 {font-size: 2.369em;}
  h3 {font-size: 1.777em;}
  h4 {font-size: 1.333em;}
  p {font-size: 1em;}
}



@media only screen and (max-width: 768px){
  h1 {font-size: 1.889em;}
  h2 {font-size: 1.789em;}
  h3 {font-size: 1.777em;}
  h4 {font-size: 1.333em;}
  p {font-size: 0.9em;}
  .heading{
    width: 90%;
    margin: 0 auto;
  }
  .textbox{width: 315px;}
  #img1{padding: 15% 0;}
  #img2{padding: 4% 0;}
  #img3{padding: 4% 0;}
  #img4{padding: 4% 0;}
  #img5{padding: 4% 0;}
  #img6{padding: 4% 0;}
}



@media only screen and (max-width: 340px){
  h1 {font-size: 1.6em;}
  h2 {font-size: 1.3em;}
  h3 {font-size: 1.35em;}
  h4 {font-size: 1.35em;}
  p {font-size: 0.8em;}
  .textbox{max-width: 300px;}
}
